<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            body {
                background-color: black;
                padding-top: 4vh;
                text-align: center;
                color: white;
            }
            .title {
                font-family: "Rampart One", cursive;
            }
        </style>
        <title>For Argument's Sake</title>
    </head>
    <body>
        <h2 class='title'>For Argument's Sake</h2>
        <br><br><br>
        <h3 class='title'>GameID: <%= data.gameID %></h3>
        <br><br><br>
        <h3 class='title'>Players</h3><br>
        <span id="players">
            <% for(var i=0; i<data.players.length; i++) {%>
                <%= data.players[i] %><br>
            <% } %>
        </span>
        <br><br><br>
        <% if (host) { %>
        <button type="button" class="btn btn-primary" onclick="startGame()">Start Game</button><br><br>
        <% } %>
        <button type="button" class="btn btn-primary" onclick="leaveGame()">Leave Game</button><br>

        

        <script src="https://cdn.socket.io/4.1.2/socket.io.js"></script>
        <script>
            var socket = io();
            socket.on('playerUpdate', function(players) {
                var playersList = document.getElementById('players');
                var updatedPlayers = [];
                players.forEach(function(val) {
                    updatedPlayers.push(val + "<br>")
                })
                playersList.innerHTML = updatedPlayers.join("")
            });

            function leaveGame(){
                socket.emit('leave', "<%= data.gameID %>", "<%= username %>");
                window.location.href = "/"
            }

            function startGame(){
                socket.emit('start', "<%= data.gameID %>", "<%= username %>")
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>